    <!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Parkinson Disease Detection</title>

    <!-- css  -->
    <link rel='stylesheet' href="{{ url_for('static', filename='style.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com"
    crossorigin><link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;900&family=Poppins:wght@100;300;400;600;700&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
</head>
<body>
    <div class="heading">
        <h1 id="heading">PARKINSON DISEASE DETECTION!</h1>
        <h2>Parkinson's disease is a progressive disorder that affects the nervous system and the parts of the body controlled by the nerves.</h2>
    </div>
    <section class="message">
        <div class="message-container">
            <div class="white-back">
<!--                    <img src="{{ url_for('static', filename='brain.jpg') }}" width="730px">-->
            </div>
            <div class="send-message">
                <h2>Fill out the details: </h2>
                <form method="post" accept-charset="utf-8" action="/predict">
                    <div class="row">
                        <div class="col-md-2 form-group">
                            <label><b>MDVP:Fo(Hz) </b></label>
                            <input type="text" class="form-control" id="fo" name="fo">
                        </div>
                        <div class="col-md-2 form-group">
                            <label><b>MDVP:Fhi(Hz) </b></label>
                            <input type="text" class="form-control" id="Fhi" name="Fhi">
                        </div>
                        <div class="col-md-2 form-group">
                            <label><b>MDVP:Flo(Hz) </b></label>
                            <input type="text" class="form-control" id="Flo" name="Flo">
                        </div>
                        <div class="col-md-2 form-group">
                            <label><b>MDVP:Jitter(%) </b></label>
                            <input type="text" class="form-control" id="jitter_per" name="jitter_per">
                        </div>
                        <div class="col-md-2 form-group">
                            <label><b>MDVP:Jitter(Abs) </b></label>
                            <input type="text" class="form-control" id="jitter_abs" name="jitter_abs">
                        </div>
                        <div class="col-md-2 form-group">
                            <label><b>MDVP:RAP </b></label>
                            <input type="text" class="form-control" id="mdvp_rap" name="mdvp_rap">
                        </div>
                        <div class="col-md-2 form-group">
                            <label><b>MDVP:PPQ </b></label>
                            <input type="text" class="form-control" id="mdvp_ppq" name="mdvp_ppq">
                        </div>
                        <div class="col-md-2 form-group">
                            <label><b>Jitter:DDP </b></label>
                            <input type="text" class="form-control" id="jitter_ddp" name="jitter_ddp">
                        </div>
                        <div class="col-md-2 form-group">
                            <label><b>MDVP:Shimmer </b></label>
                            <input type="text" class="form-control" id="mdvp_shimmer" name="mdvp_shimmer">
                        </div>
                        <div class="col-md-2 form-group">
                            <label><b>MDVP:Shimmer(dB)</b></label>
                            <input type="text" class="form-control" id="mdvp_shimmer_db" name="mdvp_shimmer_db">
                        </div>
                        <div class="col-md-2 form-group">
                            <label><b>Shimmer:APQ3 </b></label>
                            <input type="text" class="form-control" id="Shimmer_apq3" name="Shimmer_apq3">
                        </div>
                        <div class="col-md-2 form-group">
                            <label><b>Shimmer:APQ5 </b></label>
                            <input type="text" class="form-control" id="Shimmer_apq5" name="Shimmer_apq5">
                        </div>
                        <div class="col-md-2 form-group">
                            <label><b>MDVP:APQ </b></label>
                            <input type="text" class="form-control" id="mdvp_apq" name="mdvp_apq">
                        </div>
                        <div class="col-md-2 form-group">
                            <label><b>Shimmer:DDA </b></label>
                            <input type="text" class="form-control" id="shimmer_dda" name="shimmer_dda">
                        </div>
                        <div class="col-md-2 form-group">
                            <label><b>NHR: </b></label>
                            <input type="text" class="form-control" id="total_sqft" name="total_sqft">
                        </div>
                        <div class="col-md-2 form-group">
                            <label><b>HNR: </b></label>
                            <input type="text" class="form-control" id="total_sqft" name="total_sqft">
                        </div>
                        <div class="col-md-2 form-group">
                            <label><b>RPDE: </b></label>
                            <input type="text" class="form-control" id="total_sqft" name="total_sqft">
                        </div>
                        <div class="col-md-2 form-group">
                            <label><b>DFA: </b></label>
                            <input type="text" class="form-control" id="total_sqft" name="total_sqft">
                        </div>
                        <div class="col-md-2 form-group">
                            <label><b>spread1: </b></label>
                            <input type="text" class="form-control" id="total_sqft" name="total_sqft">
                        </div>
                        <div class="col-md-2 form-group">
                            <label><b>spread2: </b></label>
                            <input type="text" class="form-control" id="total_sqft" name="total_sqft">
                        </div>
                        <div class="col-md-2 form-group">
                            <label><b>D2: </b></label>
                            <input type="text" class="form-control" id="total_sqft" name="total_sqft">
                        </div>
                        <div class="col-md-2 form-group">
                            <label><b>PPE: </b></label>
                            <input type="text" class="form-control" id="total_sqft" name="total_sqft">
                        </div>

                        <div class="col-md-12 form-group">
                            <button class="btn btn-primary form-control" onclick="send_data()" style="background-color: #91282f">Parkinson's Test Result</button>
                        </div>
                    </div>

                </form>
                <br>
                <div class="col-md-12" style="text-align: center">
                    <h2><span id="prediction"></span></h2>
                </div>
            </div>
            <div class="contact-us">
                <img src="{{ url_for('static', filename='parkinson_cartoon.jpeg') }}">
            </div>

        </div>
    </section>


     <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>